<div class="center jumbotron">
  <h1>Rails Tutorial App</h1>

  <h2>This is the home page for the <a href="http://www.arrayschool.com">Array</a> rails sample app.</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div> 

<%= link_to image_tag("ArrayLogo.png", alt: "Array Logo"), "http://www.arrayschool.com", id: "arrayLogo" %>
